body{
    background-color: lightgray;
    margin: 0;
}

.conteiner {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-width: 530px;

    .box-cont-1{
        z-index: 2;
    }

    .box-cont-1,
    .box-cont-2,
    .box-cont-3 {
        box-shadow: 0 0 5px gray;
        background-color: white;
    }

    .box-cont-1 {
        grid-column-start: 1;
        grid-column-end: 4;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 35px;
            height: 35px;
        }
    }

    .box-cont-2 {
        padding: 15px 25px;

        .box-cont-2-boxe {
            display: flex;
            align-items: center;

            img {
                width: 35px;
                height: 35px;
                margin: 5px;
            }
        }
    }

    .box-cont-3 {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        gap: 10px;
        margin: 0 15px;
        padding: 10px;

        .box-cont-3-box-1{
            grid-row-start: 1;
            grid-row-end: 3;
            padding: 10px;
            text-align: justify;
        }

        .box-cont-3-box {
            img {
                width: 100%;
                height: 100%;
            }

        }

        .box-cont-3-box-6 {
            grid-column-start: 1;
            grid-column-end: 4;
            padding: 10px;
            
            img{
                width: 300px;
                height: 300px;
                float: right;
            }
            p{
                text-align: justify;
            }
            
        }

        div {
            box-shadow: 0 0 3px gray;
        }
    }
}